name: CD Pipeline

on:
  push:
    branches: [ main ]
  workflow_dispatch: {}

env:
  VERSION: v1.${{ github.run_number }}

jobs:
  release-main:
    if: github.ref == 'refs/heads/main' && hashFiles('Dockerfile') != ''
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build Docker (prod)
        run: docker build -t ghcr.io/${{ github.repository }}:${{ env.VERSION }} .
      - name: Login to GHCR
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u "${{ github.actor }}" --password-stdin
      - name: Push image
        run: |
          docker push ghcr.io/${{ github.repository }}:${{ env.VERSION }}
          docker tag ghcr.io/${{ github.repository }}:${{ env.VERSION }} ghcr.io/${{ github.repository }}:latest
          docker push ghcr.io/${{ github.repository }}:latest